.user{
    border-style:  solid;
    background-color: lightblue;
}
.no-users {

    font-size: 20px;
  
    background-color: yellow;
  
    padding: 10px;
  
  }
  .thead{
      background-color: aliceblue;
  }