<div class="columns is-centered mt-3">

    <p style ="font-size:30px"><b>Users Table Assignment2</b></p>

</div>
<div class="columns is-centered mt-5">
    <div class="panel-block">

        <table class="table is-bordered is-striped user " *ngIf="users.length > 0; else noUsers" >
    
          <thead class='thead'>
            <th>Index</th>
            <th>Name</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Action Delete</th>
    
          </thead> 
    <tbody >
        
        <tr *ngFor="let user of users;
        index as i"
        >
            
        
        
        
        <!-- (userDeleted)="handleuserDeleted($event)"> -->

            <td>{{i}}</td>
            <td>{{ user.name }}</td>
  
            <td>{{ user.username }}</td>
  
            <td appHighlightDirective>{{ user.email }}</td> <td><a class="button is-warning" (click)="delete(i)">Delete</a></td>
           
            </tr>
       
    </tbody>
</table>

</div> 
</div>

<ng-template #noUsers>

    <div class="columns">
  
      <div class="column">
  
        <p class="no-users tag">No Users Available.</p>
  
      </div>
  
    </div>
  
  </ng-template>


